* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.darkmode {
    
    background-color: #202124;
	color: #bdc1c6;   
}

.darkmode label {
    color: #bdc1c6;  
}

.darkmode #countTextId {
    color: #bdc1c6;  
}

.darkmode header {
    background-color: #101014;
    color: #bdc1c6;
    
}

main {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1rem;
    background-color: #0d4b81;
    justify-content: space-between;    
}

.section-title {
    margin-bottom: 2rem;
}

.list-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
   
}

.items-travel {
   border: 1px solid lightgray;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 2px 5px lightgray;
}

.list-box {
     border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    gap: 0.5rem;
    list-style: none;
}

.list-box2 {
    margin-top: 1rem;
    border: 1px solid lightgray;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    gap: 0.5rem;
    list-style: none;
}

.label-input {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;    
}

.toDo-input {
    border: 1px solid lightgray;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.toDo-input:focus {
    outline: none;
  }

.completed {
    display: flex;
    justify-content: space-between;
}

#completed {
    display: grid;    
    grid-template-columns: 1fr 10fr auto;
    text-decoration: line-through;
    opacity: 40%;     
}

#countTextId{
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#countTextId:hover {
    cursor: pointer;    
    color: inherit;    
}

.countTextVisibility{
    display: none;
}

.check{
    accent-color: black;
    cursor: pointer;
    align-self: center;
}

.newToDo {
    display: grid;    
    grid-template-columns: 1fr 10fr auto;
}

.newToDo:hover #delete-button{
    display: inline-block;
}

#delete-button{
    display: none;
}

.delete-button {
    border: none;
    background-color: #fff;   
}

.delete-button:hover {
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.22);
}

@media (min-width: 450px) {
    body {
        width: 100%;
    }

    .title-holidays {
        min-width: auto;
    }
    .items-travel {
        min-width: auto;
        min-width: auto;
        border: none;
        box-shadow: none;

    }
    .dark-mode-toggle {
        margin-right: 1rem;
    }
}



