* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    height: 100vh;    
    background-repeat: no-repeat;    
    background-size: 100%;    
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1rem;
    background-color: #0d4b81;
    justify-content: space-between;    
}

.darkmode {    
    background-color: #202124;
	color: #bdc1c6;   
}

.darkmode label {
    color: #bdc1c6;  
}

.darkmode #countTextId {
    color: #bdc1c6;  
}

.darkmode #toDo-input {
    background-color: #202124;
	color: #bdc1c6;  
}

.darkmode header {
    background-color: #101014;
    color: #bdc1c6;    
}

.darkmode .items-travel {
    box-shadow: none;
}

.dark-mode-toggle {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
}

.dark-mode-toggle:hover {
    border-color: #000000;
    background: #f7f7f7;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.section-title {
    margin-bottom: 2rem;   
}

.list-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;   
}

.items-travel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    border: 1px solid lightgray;
    font-size: large;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 5px 10px 5px 0px #9a9c9f91;
}

.list-box {
     border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    gap: 0.5rem;
    list-style: none;
}

.list-box2 {
    margin-top: 1rem;   
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    gap: 0.5rem;
    list-style: none;
}

.list-completed-container {
    margin-top: 1rem;
    border: 1px solid lightgray;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    display: flex;    
    padding: 1rem;
    gap: 0.8rem;
    list-style: none;
}

.list-completed-container:hover {
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.02);
}

.label-input:first-letter {
    text-transform: uppercase;    
}

.toDo-input {
    border: 1px solid lightgray;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.toDo-input:focus {
    outline: none;
  }

.completed {
    display: flex;
    justify-content: space-between;
}

#completed {
    display: grid;    
    grid-template-columns: 1fr 10fr auto;
    text-decoration: line-through;
    opacity: 40%;     
}

#countTextId{
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

#countTextId:hover {
    cursor: pointer;    
    color: inherit;    
}

.countTextVisibility{
    display: none;
}

.check{
    accent-color: black;
    cursor: pointer;
    align-self: center;
}

.newToDo {
    display: grid;    
    grid-template-columns: 1fr 10fr auto;
}

.newToDo:hover #delete-button{
    display: inline-block;
}

#delete-button{
    display: none;
}

.delete-button {
    border: none;
    background-color: #fff;   
}

.delete-button:hover {
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.22);
}


.new-note {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    padding: 2rem;
    border: 1px solid lightgray;
    font-size: large;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 5px 10px 5px 0px #9a9c9f91;
}





@media (max-width: 600px) {
    body {
        width: 100%;
    }

    .title-holidays {
        min-width: auto;
    }
    
    .items-travel {
        min-width: auto;
        min-width: auto;
        border: none;
        box-shadow: none;
    }

    .dark-mode-toggle {
        margin-right: 1rem;
    }    
}



