* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

header {
    color: #fff;
    padding: 1rem;
    background-color: #0d4b81;
}

.section-title {
    margin-bottom: 2rem;
}

.list-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
   
}

.items-travel {
   border: 1px solid lightgray;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 3px 2px 5px lightgray;
}

.list-box {
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1rem;
    gap: 0.5rem;
    list-style: none;
}

.label-input {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto","Helvetica","Arial",sans-serif;
   
    
}

.toDo-input {
    border: 1px solid lightgray;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
}

.toDo-input:focus {
    outline: none;
  }

.completed {
    display: flex;
    justify-content: space-between;
}

#completed {
    /* display: flex;
    justify-content: space-between; */
    display: grid;    
    grid-template-columns: 1fr 10fr auto;
    text-decoration: line-through;
    opacity: 40%;     
}


.check{
    accent-color: black;
    cursor: pointer;
    align-self: center;
}

.newToDo {
     /* display: flex;
    justify-content: space-between;  */
    display: grid;    
    grid-template-columns: 1fr 10fr auto;
}

.delete-button {
    /* display: none; */
    border: none;
    background-color: #fff;
}

.delete-button:hover {
    cursor: pointer;
    font-weight: 600;
    transform: scale(1.22);
}